[phases.setup]
# Paket sistem (sama seperti sebelumnya)
nixPkgs = ["php82", "php82Extensions.gd", "php82Extensions.mysqli", "php82Extensions.pdo", "php82Extensions.opcache", "php82Extensions.mbstring", "php82Extensions.tokenizer", "php82Extensions.xml", "php82Extensions.ctype", "php82Extensions.fileinfo", "php82Extensions.zip", "nginx", "git", "nodejs_22", "curl", "unzip"]

# Install Composer Manual
cmds = [
    "curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer"
]

[phases.install]
cmds = [
    "mkdir -p /var/log/nginx && mkdir -p /var/cache/nginx",
    "/usr/local/bin/composer install --ignore-platform-reqs",
    "npm ci"
]

[phases.build]
cmds = [
    "/usr/local/bin/composer install --ignore-platform-reqs --no-dev --optimize-autoloader",
    "npm run build"
]

[start]
cmd = "php -S 0.0.0.0:80 -t public server.php"